/* *NEW */

/* @import "tailwindcss/preflight"; */
@import "tailwindcss";

@tailwind utilities;

body {
	background-image: url("/assets/images/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Disable page scrolling (prevents two-finger touchpad scrolling) */
html, body {
    overflow: hidden;
}

:root {
	background-image: url("/assets/images/background.jpg");
}

@theme {
	--font-body: "Inter", sans-serif;
	--font-display: "Satoshi", sans-serif;
	--color-primary: oklch(0% 0 0);
	--color-secondary: oklch(33.289% 0.00004 271.152);
	--color-background: hsl(0 0% 100%);
	--color-foreground: hsl(0, 26%, 4%);
	--color-light: hsl(0 0% 100%);
	--color-dark: hsl(0, 26%, 4%);
	--breakpoint-lg: 64rem;
	--color-surface-green-primary: rgb(71 78 68 / 80%);
	--color-surface-green-secondary: #b6c8ad;
	--color-surface-green-tertiary: #292d27;
}

.dark {
	--color-background: hsl(0 0% 3.9%);
	--color-foreground: hsl(0 0% 98%);



}

@theme inline {
	--color-background: var(--color-background);
	--color-foreground: var(--color-foreground);
}

/* !BACKUP */
@theme {
	--color-primary: rgb(0 0 0 / 75%);
	--color-secondary: rgb(0 0 0 / 45%);
	--color-tertiary: #4a4f47;
	--color-tertiary-dark: #2e332b;

	/* --color-surface-white-primary: rgb(245, 245, 245 / 80%); */
	--color-surface-white-primary: rgba(245, 245, 245, 0.35);
	--color-surface-white-secondary: rgba(245, 245, 245, 0.70);
	--color-surface-white-tertiary: #dddbd4;
	/* --color-surface-white-tertiary: #0f0f0f; */
	--color-surface-white-12-primary: rgba(255,255,255,0.12);
	--color-surface-white-12-secondary: rgba(255,255,255,0.22);
	--color-surface-white-4-primary: rgba(255,255,255,0.04);
	--color-surface-white-4-secondary: rgba(255,255,255,0.12);
	
	--color-text-white-translucent-primary: rgba(255,255,255,0.65);
	--color-text-white-translucent-secondary: rgba(255,255,255,0.85);
	
	--color-surface-grey-primary: rgb(97 97 97 / 35%);
	--color-surface-grey-secondary: rgb(47 46 46 / 80%);
	--color-surface-grey-tertiary: #121212;

	--color-surface-black-primary: rgb(0 0 0 / 25%);
	--color-surface-black-secondary: rgb(0 0 0 / 50%);
	--color-surface-black-tertiary: #121212;

	--color-surface-very-black-primary: rgba(0, 0, 0, 0.7);
	--color-surface-very-black-secondary: rgba(0, 0, 0, 0.8);
	--color-surface-black-tertiary: #121212;

	--color-surface-green-primary: rgb(71 78 68 / 80%);
	--color-surface-green-secondary: #b6c8ad;
	--color-surface-green-tertiary: #292d27;

	--color-text-white-primary: #ffffff;
	--color-text-white-secondary: rgb(255 255 255 / 70%);
	--color-text-white-tertiary: #d9d9d9;

	--color-label-surface-primary: rgb(120 120 120 / 20%);
	--color-label-primary: #000000;
	--color-label-secondary: #d9d9d9;
	--color-label-tertiary: #ffffff;
}


/* TEMP */
.fonts-size {

	--title: 32;
	--header-1: 28;
	--header-2: 22;
	--body: 17;
}

.body{
	--small: 9;
	--medium: 11
	--large: 17;
	--xl: 20;
}
